<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>Registration</title>
</head>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B");

  body {
    font-family: "Poppins", sans-serif;
    background: #ececec;
  }

  .box-area {
    width: 1000px;
    margin: 40px 40px 40px 40px;
  }

  .left-box {
    padding: 40px 30px 40px 40px;
  }

  .left-box p {
    margin-bottom: 0%;
  }

  ::placeholder {
    font-size: 16px;
  }

  .rounded-4 {
    border-radius: 20px;
  }

  .rounded-5 {
    border-radius: 30px;
  }

  @media only screen and (max-width: 768px) {
    .box-area {
      margin: 0 10px;
    }

    .right-box {
      height: 100px;
      overflow: hidden;
    }

    .left-box {
      padding: 20px;
    }
  }
</style>

<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
      <div class="col-md-5 rounded-4 d-flex justify-content-center align-items-center flex-column right-box"
        style="background: #030067;">
      </div>
      <div class="col-md-7 left-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2>Student Register</h2>
            <p>
              To register ICCT Portal, please make sure you meet the following
              requirements:
            </p>
          </div>
          <form action="/register" method="POST">
          <div class="input-group mb-3">
            <input type="text" name="firstName" class="form-control bg-light fs-6" placeholder="First Name" />
            <input type="text" name="middleName" class="form-control bg-light fs-6" placeholder="Middle Name" />
            <input type="text" name="lastName" class="form-control bg-light fs-6" placeholder="Last Name" />
<select name="suffix" id="suffix" class="form-control bg-light fs-6">
              <option value="">Suffix</option>
              <option value="jr">Jr</option>
              <option value="sr">Sr</option>
              <option value="II">II</option>
              <option value="III">III</option>
              <option value="IV">IV</option>
</select>
          </div>
          <div class="input-group mb-3">
            <input type="number" name="contactNum" class="form-control bg-light fs-6" placeholder="Contact Number" />
          </div>
          <div class="input-group mb-3">
            <select id="campus" name="campus" class="form-control bg-light fs-6">
              <option value="cainta">Cainta (Main)</option>
              <option value="sanmateo">San Mateo</option>
              <option value="antipolo">Antipolo</option>
            </select>
            <select id="semester" name="semester" class="form-control bg-light fs-6">
              <option value="">Semester</option>
              <option value="1styear">1st Year</option>
              <option value="2ndyear">2nd Year</option>
            </select>
            <select id="schoolyear" name="schoolyear" class="form-control bg-light fs-6">
              <option value="">- sy -</option>
              <option value="2024-2025">2024-2025</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-text">@</div>
            <input type="email" name="emailAddress" class="form-control bg-light fs-6" placeholder="Email address" />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-text bi bi-key-fill"></div>
            <input type="password" name="password" class="form-control bg-light fs-6" placeholder="Password" />
          </div>
<% if (errors && errors.firstName) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.firstName.msg %>
  </div>
<% } else if (errors && errors.middleName) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.middleName.msg %>
  </div>
<% } else if (errors && errors.lastName) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.lastName.msg %>
  </div>
<% } else if (errors && errors.contactNum) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.contactNum.msg %>
  </div>
<% } else if (errors && errors.semester) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.semester.msg %>
  </div>
<% } else if (errors && errors.schoolyear) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.schoolyear.msg %>
  </div>
<% } else if (errors && errors.email) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.email.msg %>
  </div>
<% } else if (errors && errors.password) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors.password.msg %>
  </div>
<% } else if (errors) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:13px; transition: all 2s ease-out;">
    <%= errors %>
  </div>
<% } %>
          <div class="input-group mb-3">
            <button class="btn btn-lg w-100 fs-6" style="background-color: #030067; color: #ececec;">
              Sign Up
            </button>
          </div>
          </form>
          <div class="input-group mb-3">
            <button class="btn btn-lg w-100 fs-6" onclick="location.href='/login';"
              style="background-color: #030067; color: #ececec;">
              Back to Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</html>